/* Contenedor principal del calendario */
.calendar-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Calendario */
.react-calendar {
  width: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #f7f7f7;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.react-calendar__tile {
  padding: 10px;
  border-radius: 6px;
  transition: all 0.2s;
  position: relative;
}

.react-calendar__tile:hover {
  background: #007bff;
  color: white;
}

.react-calendar__tile--active {
  background: #0056b3;
  color: white;
  font-weight: bold;
}

/* Indicador de actividad */
.react-calendar__tile.has-note::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* Notas */
.notes-container {
  margin-top: 20px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.notes-container h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.notes-container ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.notes-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background: #f9f9f9;
  margin: 0.5rem auto;
  transition: 0.2s;
  border-left: 5px solid #007bff;
}

.notes-container li:hover {
  background: #e3e3e3;
}

.notes-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ff4d4d;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/* Input */
.input {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
}

.notes-container input {
  width: calc(80% - 20px);
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.notes-container input:hover,
.notes-container input:focus {
  border-bottom: 2px solid #007bff;
}

/* Botón de agregar con icono */
.input button {
  margin-left: 30px;
  /* width: 0%; */
  padding: .7rem 2rem;
  background-color: #1ccb48;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.input button:hover {
  background-color: #22b446;
}


.react-calendar__tile.has-note::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}


/* Responsive */
@media (max-width: 600px) {
  .calendar-container {
    max-width: 90%;
    padding: 15px;
  }

  .react-calendar {
    font-size: 14px;
  }

  .notes-container {
    padding: 10px;
  }
}
