.nota {
    padding: 1.2rem;
    max-width: 900px;
    margin: 5rem auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 6px 6px rgb(159, 10, 228,0.3);
}

.nota h2 {
    text-align: center;
    color: #333;
    margin: 1rem 0 2rem;
}


.nota-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4rem auto;
}

.nota-input input {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.nota-input input:focus {
    outline: none; 
    border: 2px solid #3e75da; 
    box-shadow: 0 0 5px rgba(63, 122, 210, 0.5); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.botones-mic {
    display: flex;
    align-items: center;
}

.botones-mic svg {
    font-size: 2rem;
}

.botones-mic button {
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.nota-input .add {
    background-color: #ffffff;
    color: #228a57;
    letter-spacing: 1px;
}

.add:hover {
    transition: .3s;
    transform: scale(1.08);
}

.nota-input .mic{
    background-color: #ffffff;
    color: #22a465;
}

.mic:hover{
    transition: .3s;
    transform: scale(1.08);
}


/* .notas-checkbox{
    display: flex;
    margin: 1.4rem auto;
} */


.eliminar {
    background-color: #f70202;
    color: #fff;
}

.eliminar:hover {
    background-color: #892828;
    transform: scale(1.05);
}

.editar {
    background-color: #ffb700;
    color: #fff;
}

.editar:hover {
    background-color: #e6a800;
    transform: scale(1.05);
}

.completed td {
    text-decoration: line-through;
    color: rgb(150, 146, 146);
}


.checkbox-container {
    display: flex;
    margin: 1.8rem auto;
    align-items: center;
    justify-content: center;
}


.completar {
    background-color: #0ac70a;
    color: #fff;
}

.completar:hover {
    background-color: #027a02;
    transform: scale(1.05);
}

.desmarcar {
    background-color: #1063bc;
    color: #fff;
}

.desmarcar:hover {
    background-color: #055da4;
    transform: scale(1.05);
}



.check {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.check:hover {
    background-color: #45a049; 
}

.cancel {
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancel:hover {
    background-color: #e53935; 
}


@media (max-width: 600px) {

    .nota{
        max-width: auto;
        margin: 5rem auto;
    }

    .nota-input {
        flex-direction: column;
        align-items: stretch;
    }

    .nota-input input {
        margin: 0 0 10px 0;
        width: 90%;
        flex-grow: 1; 
    }

    .nota-input button {
        margin: 10px 0;
    }
}