/* Contenedor principal */
.task-container {
    padding: 1.2rem;
    max-width: 900px;
    margin: 5rem auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 6px 6px rgb(159, 10, 228,0.3);
}

/* Título */
.task-container h2 {
    text-align: center;
    color: #333;
    margin: 1rem 0 2rem;
    
}


.task-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.4rem auto;
}

.task-input input {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    margin-right: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.task-input input:focus {
    outline: none; 
    border: 2px solid #3e75da; 
    box-shadow: 0 0 5px rgba(63, 122, 210, 0.5); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.mic {
    background-color: #ffffff;
    color: #22a465;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.mic svg{
    font-size: 2rem;
}

.mic:hover {
    transition: .3s;
    transform: scale(1.08);
}

/* Botones de agregar y limpiar */
.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    gap: 24px;
    flex-wrap: wrap;
}

.agregar {
    background: #28a745;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.agregar:hover {
    background: #218838;
}

.limpiar {
    background: #266897;
    color: #fff;
    padding: 8px 10px;
    margin-left: .8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 5px;
    transition: background 0.3s ease;
}

.limpiar:hover {
    background: #245e88;
}


.container-manyproducts{
    position: fixed;
    max-width: 100px;
}

.container-manyproducts button{
    margin: 12px 6px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: .9rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px;
    transition: background-color 0.9s, color 0.3s; 
}

.broom{
    margin-left: 1rem;
    background-color: #561d93;
    color: #ffffff;
}

.broom:hover{
    background-color: #810ed8;
}

.delete-many{
    color: #ffffff;
    background-color: #a82020;
}

.delete-many:hover{
    background-color: #f23030;
}


/* Botón de eliminar todo */
.eliminar-todo {
    background-color: #f70202;
    color: #fff;
    margin: 2rem 0;
    padding: 12px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
}

.eliminar-todo:hover {
    transition: .5s;
    background-color: #c10505;
    transform: scale(1.05);
}


.completed-note {
    text-decoration: line-through;
    color: rgb(156, 159, 155); 
}

.completed{
    background-color: transparent;
    transition: ease-in-out .3s;
}

.completed:hover{
    background-color: #eef0ee;
}

/* Edicion de inputs */
.tareas-tablas input[type="text"], .tareas-tablas input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 
  .tareas-tablas {   
    max-width: 100%;
    overflow-x: auto;
    display: block;
    justify-content: center;
}

.collapse{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: auto;
    margin: 1rem 0;
}

.tareas-tablas tbody {
    width: 100%; 
    min-width: 600px;
    padding: 2rem;
    border-collapse: collapse;
    margin-top: 2rem;
    border-collapse: separate;
    border-spacing: 0 18px;
}

.tareas-tablas tr {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: background-color 0.3s ease;
}

.tareas-tablas tr:hover {
    background-color: #e6f7e8;
}

.tareas-tablas td {
    min-width: 100px;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    padding: 1.2rem;
    justify-content: center;
    border-bottom: 1px solid #fffefe;
    /* white-space: nowrap; */
}

.tareas-completas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tareas-completas button {
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #121212;
    transition: color 0.3s ease;
}

.tareas-completas button:hover {
    color: #28a745;
}

.tareas-completas .completado {
    text-decoration: line-through;
    color: #a0aec0;
}


.tareas-tablas button {
    margin: 0 9px;
    padding: 6px 10px;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
}


.acciones-botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.btn-edit {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.edit-row td {
    text-align: center;
    padding: 1.5rem 1rem;
    background-color: #f3f4f6;
    border-radius: 8px;
}

.edit-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.edit-inputs input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Responsividad general */
@media (max-width: 768px) {
    .task-container {
        max-width: auto;
        margin: 5rem auto;
    }

    .task-input {
        flex-direction: column;
        gap: 5px;
    }

    .acciones {
        display: flex;
        padding: 0 2rem;
        gap: 12px;
    }

    .limpiar, .agregar{
        margin: 0 auto;
        
    }

    .task-input select {
        width: 100%;
        margin: .7rem auto;
    }

    .task-input input{
        width: 90%;
    }

    .tareas-tablas table {
        min-width: 100%; 
    }

    .tareas-tablas table, .tareas-tablas th, .tareas-tablas td {
        font-size: 14px;
    }

    
    .tareas-tablas td {
        min-width: none;
    }

}