.task-container {
    padding: 1.2rem;
    max-width: 800px;
    margin: 3rem auto;
    background: #f8f9fa;
    border-radius: 8px;
    border: 2px solid rgb(163, 215, 164);
    box-shadow: 0px 8px 6px rgba(82, 151, 83, 0.9);
}

h2 {
    color: #333;
    text-align: center;
    margin: 1rem 0 2rem;
}

.task-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.task-input select, .task-input input {
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: 1px solid #d1d5db;
}

.acciones {
    display: flex;
    gap: 12px;
    margin: 3rem auto 1rem;
    justify-content: center;
}

.add-task {
    background: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 3rem;
    gap: 5px;
    transition: background 0.3s ease;
}

.add-task:hover {
    background: #218838;
}

.clean-task {
    background: #8e28a7;
    color: #fff;
    padding: 10px 15px;
    margin-left: 3rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 5px;
    transition: background 0.3s ease;
}

.clean-task:hover {
    background: #742488;
}

.mic svg{
    font-size: 2rem;
}

.mic{
    background-color: transparent;
    color: #228a57;
    cursor: pointer;
    border: none;
}

.mic:hover{
    transition: .3s;
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .task-container {
        max-width: 400px;
        margin: 2rem auto;
    }

    .task-input {
        flex-direction: column;
        gap: 5px;
    }

    .acciones {
        display: flex;
        margin: 3rem 0;
        gap: 3rem;
    }

    .clean-task, .add-task{
        margin-left: 0rem;
    }

    .task-input select {
        width: 100%;
        margin: .7rem auto;
    }

    .task-input input{
        width: 90%;
    }

    .task-table table, .task-table th, .task-table td {
        font-size: 14px;
    }
}


.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.tareas-completas{
    display: flex;
    justify-content: space-between;
}

.tareas-completas .completado {
    text-decoration: line-through;
    color: #a0aec0;
}


.tareas-completas button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #121212;
    transition: color 0.3s ease;
    margin-left: 1rem;
}

.tareas-completas button:hover {
    color: #28a745; 
}
.task-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.task-table th, .task-table td {
    text-align: center;
    padding: 1.2rem;
    justify-content: center;
    border-bottom: 1px solid #fffefe;
    white-space: nowrap;
}

.task-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tr:hover {
    background-color: #e6f7e8;
}

.container-manydelete{
    display: flex;
    justify-content: center;
    margin: 3rem auto 1rem;
}

.deletemany{
    background: #dc3545;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 22px;
    color: #ffffff;
}

.broom{
    background: transparent;
    border: none;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 22px;
    color: #810ed8;
}

.delete-task {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #dc3545;
}

.delete-task:hover, .gear:hover, .edits-tareas button:hover  {
    opacity: 0.7;
}


.gear, .edits-tareas button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.gear{
    margin-left: 12px;
}

.edits-tareas{
    justify-content: center;
    padding: 1rem;
}

.up {
   color: #0ac70a;
}

.down{
    color:#961926
}